
/* -----------------------------------------
   [ base ]
----------------------------------------- */
body:lang(zh-TW) {
  font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* -----------------------------------------
   [ pic ]
----------------------------------------- */
.max-pic{
  max-height: 100%;
  max-width: 100%;
}


/* -----------------------------------------
   [ vue ]
----------------------------------------- */
[v-cloak] {
  display: none;
}

/* -----------------------------------------
  常用
----------------------------------------- */
