
/* -----------------------------------------
   [ base ]
----------------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/* -----------------------------------------
   [ pic ]
----------------------------------------- */
.max-pic{
  max-height: 100%;
  max-width: 100%;
}


/* -----------------------------------------
   [ vue ]
----------------------------------------- */
[v-cloak] {
  display: none;
}

/* -----------------------------------------
  常用
----------------------------------------- */
